<h1>Welcome to R.L.'s Diner!</h1>

<div id="items">
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= item.title %>:
        <%= item.description %>,
        <%= number_to_currency item.price %><br>
        <%= link_to "View item", item %>
      </li>
    <% end %>
  </ul>
</div>
