<h1>Create New Category</h1>

<%= form_for [:admin, @category] do |f| %>
  <div class="large-12 large-centered columns">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <p class= "center"><%= f.submit "Create category", class:"tiny button radius" %></p>
<% end %>
