<ul class="right">
  <li class="active">
    <%= link_to "Cart", cart_path %>
  </li>
  <li class="active">
    <%= link_to "Logout", '#' %>
  </li>
  <li class="active">
    <%= link_to "Order History", orders_path %>
  </li>
</ul>
